.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 2530px;
  height: 500px;
}
#slika{
  position: absolute;
}


.centered {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.container {
    position: relative;
    text-align: center;
    color: white;
}
#Boja{
  color: white;
}

.video-container {
  position: relative;
}
video {
  height: auto;
  vertical-align: middle;
  width: 100%;
}
.overlay-desc {
  background: rgba(0,0,0,0);
  position: absolute;
  top: 0; right: 0; bottom: 0; left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}
h1 {
  color: white;
  font-family: Impact, Charcoal, sans-serif;
  font-size: 150px;
  text-align: center;
}

h3 {
  text-indent: 16px;
  text-decoration: underline;
}

p {
  text-align: justify;
  font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
}

#sekcija {
  background-color: #28A745;
  border-radius: 20px;

}

#sekcija1 {
  background-color: #28A745;
  border-radius: 20px;
  height: 350px;
  width: 32% !important;
}
